Repository CodeStrong2023/Concatenados_3sem2024, pull requests merged in 2024-07, with the labels that each got.

#96 Semana 10 - Java
  Java/Lección01/ListarPersonas/.idea/.gitignore
  Java/Lección01/ListarPersonas/.idea/misc.xml
  Java/Lección01/ListarPersonas/.idea/modules.xml
  Java/Lección01/ListarPersonas/.idea/uiDesigner.xml
  Java/Lección01/ListarPersonas/.idea/vcs.xml
  Java/Lección01/ListarPersonas/ListarPersonas.iml
  Java/Lección01/ListarPersonas/out/production/ListarPersonas/ListadoPersonasApp.class
  Java/Lección01/ListarPersonas/out/production/ListarPersonas/Persona.class
  Java/Lección01/ListarPersonas/src/ListadoPersonasApp.java
  Java/Lección01/ListarPersonas/src/Persona.java
  Java/Lección07/Lección06 - Docker
  Java/Lección11/Hola.txt
  Java/Lección11/MundoPc.uxf
  Java/Lección11/build.xml
  Java/Lección11/build/classes/.netbeans_automatic_build
  Java/Lección11/build/classes/.netbeans_update_resources
  Java/Lección11/build/classes/ar/com/system2023/mundopc/Computadora.class
  Java/Lección11/build/classes/ar/com/system2023/mundopc/DispositivoEntrada.class
  Java/Lección11/build/classes/ar/com/system2023/mundopc/Monitor.class
  Java/Lección11/build/classes/ar/com/system2023/mundopc/Orden.class
  Java/Lección11/build/classes/ar/com/system2023/mundopc/Raton.class
  Java/Lección11/build/classes/ar/com/system2023/mundopc/Teclado.class
  Java/Lección11/build/classes/mundopc/mundoPc.class
  Java/Lección11/manifest.mf
  Java/Lección11/nbproject/build-impl.xml
  Java/Lección11/nbproject/genfiles.properties
  Java/Lección11/nbproject/private/private.properties
  Java/Lección11/nbproject/private/private.xml
  Java/Lección11/nbproject/project.properties
  Java/Lección11/nbproject/project.xml
  Java/Lección11/src/ar/com/system2023/mundopc/Computadora.java
  Java/Lección11/src/ar/com/system2023/mundopc/DispositivoEntrada.java
  Java/Lección11/src/ar/com/system2023/mundopc/Monitor.java
  Java/Lección11/src/ar/com/system2023/mundopc/Orden.java
  Java/Lección11/src/ar/com/system2023/mundopc/Raton.java
  Java/Lección11/src/ar/com/system2023/mundopc/Teclado.java
  Java/Lección11/src/mundopc/mundoPc.java
  JavaScript/TSLección09/Cliente.js
  JavaScript/TSLección09/Empleado.js
  JavaScript/TSLección09/Persona.js
  JavaScript/TSLección09/PruebaPersonas.js
Labels: Java

#97 Semana10
  Java/Lección01/ListarPersonas/.idea/.gitignore
  Java/Lección01/ListarPersonas/.idea/misc.xml
  Java/Lección01/ListarPersonas/.idea/modules.xml
  Java/Lección01/ListarPersonas/.idea/uiDesigner.xml
  Java/Lección01/ListarPersonas/.idea/vcs.xml
  Java/Lección01/ListarPersonas/ListarPersonas.iml
  Java/Lección01/ListarPersonas/out/production/ListarPersonas/ListadoPersonasApp.class
  Java/Lección01/ListarPersonas/out/production/ListarPersonas/Persona.class
  Java/Lección01/ListarPersonas/src/ListadoPersonasApp.java
  Java/Lección01/ListarPersonas/src/Persona.java
  Java/Lección07/Lección06 - Docker
  Java/Lección11/Hola.txt
  Java/Lección11/MundoPc.uxf
  Java/Lección11/build.xml
  Java/Lección11/build/classes/.netbeans_automatic_build
  Java/Lección11/build/classes/.netbeans_update_resources
  Java/Lección11/build/classes/ar/com/system2023/mundopc/Computadora.class
  Java/Lección11/build/classes/ar/com/system2023/mundopc/DispositivoEntrada.class
  Java/Lección11/build/classes/ar/com/system2023/mundopc/Monitor.class
  Java/Lección11/build/classes/ar/com/system2023/mundopc/Orden.class
  Java/Lección11/build/classes/ar/com/system2023/mundopc/Raton.class
  Java/Lección11/build/classes/ar/com/system2023/mundopc/Teclado.class
  Java/Lección11/build/classes/mundopc/mundoPc.class
  Java/Lección11/manifest.mf
  Java/Lección11/nbproject/build-impl.xml
  Java/Lección11/nbproject/genfiles.properties
  Java/Lección11/nbproject/private/private.properties
  Java/Lección11/nbproject/private/private.xml
  Java/Lección11/nbproject/project.properties
  Java/Lección11/nbproject/project.xml
  Java/Lección11/src/ar/com/system2023/mundopc/Computadora.java
  Java/Lección11/src/ar/com/system2023/mundopc/DispositivoEntrada.java
  Java/Lección11/src/ar/com/system2023/mundopc/Monitor.java
  Java/Lección11/src/ar/com/system2023/mundopc/Orden.java
  Java/Lección11/src/ar/com/system2023/mundopc/Raton.java
  Java/Lección11/src/ar/com/system2023/mundopc/Teclado.java
  Java/Lección11/src/mundopc/mundoPc.java
  JavaScript/TSLección09/Cliente.js
  JavaScript/TSLección09/Empleado.js
  JavaScript/TSLección09/Persona.js
  JavaScript/TSLección09/PruebaPersonas.js
Labels: Scrum Master

#98 Clase11 Java
  Java/Conexion01.sql
  Java/Lección12/SistemaEstudiantes/.gitignore
  Java/Lección12/SistemaEstudiantes/.idea/.gitignore
  Java/Lección12/SistemaEstudiantes/.idea/encodings.xml
  Java/Lección12/SistemaEstudiantes/.idea/misc.xml
  Java/Lección12/SistemaEstudiantes/.idea/vcs.xml
  Java/Lección12/SistemaEstudiantes/pom.xml
  Java/Lección12/SistemaEstudiantes/src/main/java/UTN/Main.java
  Java/Lección12/SistemaEstudiantes/src/main/java/UTN/conexion/Conexion.java
Labels: Java

#100 Clase 11 de Python
  JavaScript/InicioTareaClase12/archivohtml.html
  JavaScript/InicioTareaClase12/login.js
  JavaScript/InicioTareaClase12/style.css
  Python/Lección07/capa_dato_personas/conexion.py
  Python/Lección07/capa_dato_personas/cursor_del_pool.py
  Python/Lección07/capa_dato_personas/persona_dao.py
Labels: Python

#95 Semana 12 Java
  Java/Lección12/SistemEstudiantes/.gitignore
  Java/Lección12/SistemEstudiantes/.idea/.gitignore
  Java/Lección12/SistemEstudiantes/.idea/encodings.xml
  Java/Lección12/SistemEstudiantes/.idea/misc.xml
  Java/Lección12/SistemEstudiantes/.idea/vcs.xml
  Java/Lección12/SistemEstudiantes/pom.xml
  Java/Lección12/SistemEstudiantes/src/main/java/UTN/Main.java
  Java/Lección12/SistemEstudiantes/src/main/java/UTN/conexion/Conexion.java
  Java/Lección12/SistemEstudiantes/src/main/java/UTN/datos/EstudianteDaAO.java
  Java/Lección12/SistemEstudiantes/src/main/java/UTN/dominio/Estudiante.java
Labels: Java

#101 Test
  Java/Conexion01.sql
  Java/Lección12/SistemEstudiantes/.gitignore
  Java/Lección12/SistemEstudiantes/.idea/.gitignore
  Java/Lección12/SistemEstudiantes/.idea/encodings.xml
  Java/Lección12/SistemEstudiantes/.idea/misc.xml
  Java/Lección12/SistemEstudiantes/.idea/vcs.xml
  Java/Lección12/SistemEstudiantes/pom.xml
  Java/Lección12/SistemEstudiantes/src/main/java/UTN/Main.java
  Java/Lección12/SistemEstudiantes/src/main/java/UTN/conexion/Conexion.java
  Java/Lección12/SistemEstudiantes/src/main/java/UTN/datos/EstudianteDaAO.java
  Java/Lección12/SistemEstudiantes/src/main/java/UTN/dominio/Estudiante.java
  Java/Lección12/SistemaEstudiantes/.gitignore
  Java/Lección12/SistemaEstudiantes/.idea/.gitignore
  Java/Lección12/SistemaEstudiantes/.idea/encodings.xml
  Java/Lección12/SistemaEstudiantes/.idea/misc.xml
  Java/Lección12/SistemaEstudiantes/.idea/vcs.xml
  Java/Lección12/SistemaEstudiantes/pom.xml
  Java/Lección12/SistemaEstudiantes/src/main/java/UTN/Main.java
  Java/Lección12/SistemaEstudiantes/src/main/java/UTN/conexion/Conexion.java
  JavaScript/InicioTareaClase12/archivohtml.html
  JavaScript/InicioTareaClase12/login.js
  JavaScript/InicioTareaClase12/style.css
  JavaScript/practicas/final-3/codigo.js
  JavaScript/practicas/final-3/css/style.css
  JavaScript/practicas/final-3/index.html
  JavaScript/practicas/public/README.md
  JavaScript/practicas/public/avatar.html
  JavaScript/practicas/public/js/avatar.js
  Python/Lección07/capa_dato_personas/conexion.py
  Python/Lección07/capa_dato_personas/cursor_del_pool.py
  Python/Lección07/capa_dato_personas/persona_dao.py
Labels: Scrum Master
