Repository CodeStrong2023/Concatenados_3sem2024, pull requests merged in 2024-05, with the labels that each got.

#20 Sofia
  JavaScript/TSLección02/02-03-arreglos.js
  Python/Lección9/.gitignore
  Python/Lección9/Color.py
  Python/Lección9/Cuadrado.py
  Python/Lección9/FiguraGeometrica.py
  Python/Lección9/README
  Python/Lección9/Rectangulo.py
  Python/Lección9/claseAbstracta.uxf
  Python/Lección9/herenciaMultiple.uxf
  Python/Lección9/pyvenv.cfg
  Python/Lección9/test_figura_geometrica.py
Labels: JavaScript

#22 Week 3 JS
  JavaScript/Lección03/01-03-funciones.js
Labels: JavaScript

#23 Clase3 Java - semana 3
  .gitignore
  Java/Lección03/AutoboxingUnboxing/build.xml
  Java/Lección03/AutoboxingUnboxing/manifest.mf
  Java/Lección03/AutoboxingUnboxing/nbproject/build-impl.xml
  Java/Lección03/AutoboxingUnboxing/nbproject/genfiles.properties
  Java/Lección03/AutoboxingUnboxing/nbproject/project.properties
  Java/Lección03/AutoboxingUnboxing/nbproject/project.xml
  Java/Lección03/AutoboxingUnboxing/src/test/TestAutoboxingUnboxing.java
  Java/Lección03/ForEach/build.xml
  Java/Lección03/ForEach/manifest.mf
  Java/Lección03/ForEach/nbproject/build-impl.xml
  Java/Lección03/ForEach/nbproject/genfiles.properties
  Java/Lección03/ForEach/nbproject/project.properties
  Java/Lección03/ForEach/nbproject/project.xml
  Java/Lección03/ForEach/src/domain/Persona.java
  Java/Lección03/ForEach/src/test/TestForEach.java
  Java/Lección03/ModificadoresAcceso/build.xml
  Java/Lección03/ModificadoresAcceso/manifest.mf
  Java/Lección03/ModificadoresAcceso/nbproject/build-impl.xml
  Java/Lección03/ModificadoresAcceso/nbproject/genfiles.properties
  Java/Lección03/ModificadoresAcceso/nbproject/project.properties
  Java/Lección03/ModificadoresAcceso/nbproject/project.xml
  Java/Lección03/ModificadoresAcceso/src/paquete1/Clase1.java
  Java/Lección03/ModificadoresAcceso/src/paquete1/Clase2.java
  Java/Lección03/ModificadoresAcceso/src/paquete1/ClaseHija2.java
  Java/Lección03/ModificadoresAcceso/src/paquete1/TestDefault.java
  Java/Lección03/ModificadoresAcceso/src/paquete2/Clase3.java
  Java/Lección03/ModificadoresAcceso/src/paquete2/Clase4.java
  Java/Lección03/ModificadoresAcceso/src/test/TestModificadoresAcceso.java
  Java/MundoPc/nbproject/private/private.properties
Labels: Java

#29 Semana 4 Java
  Java/Lección04/InstaceOf/build.xml
  Java/Lección04/InstaceOf/build/classes/.netbeans_automatic_build
  Java/Lección04/InstaceOf/build/classes/.netbeans_update_resources
  Java/Lección04/InstaceOf/build/classes/domain/Empleado.class
  Java/Lección04/InstaceOf/build/classes/domain/Gerente.class
  Java/Lección04/InstaceOf/build/classes/test/TestInstanceOf.class
  Java/Lección04/InstaceOf/manifest.mf
  Java/Lección04/InstaceOf/nbproject/build-impl.xml
  Java/Lección04/InstaceOf/nbproject/genfiles.properties
  Java/Lección04/InstaceOf/nbproject/private/private.properties
  Java/Lección04/InstaceOf/nbproject/private/private.xml
  Java/Lección04/InstaceOf/nbproject/project.properties
  Java/Lección04/InstaceOf/nbproject/project.xml
  Java/Lección04/InstaceOf/src/domain/Empleado.java
  Java/Lección04/InstaceOf/src/domain/Gerente.java
  Java/Lección04/InstaceOf/src/test/TestInstanceOf.java
  Java/Lección04/Sobreescritura/build.xml
  Java/Lección04/Sobreescritura/build/classes/.netbeans_automatic_build
  Java/Lección04/Sobreescritura/build/classes/.netbeans_update_resources
  Java/Lección04/Sobreescritura/build/classes/domain/Empleado.class
  Java/Lección04/Sobreescritura/build/classes/domain/Gerente.class
  Java/Lección04/Sobreescritura/build/classes/test/TestSobreescritura.class
  Java/Lección04/Sobreescritura/manifest.mf
  Java/Lección04/Sobreescritura/nbproject/build-impl.xml
  Java/Lección04/Sobreescritura/nbproject/genfiles.properties
  Java/Lección04/Sobreescritura/nbproject/private/private.properties
  Java/Lección04/Sobreescritura/nbproject/private/private.xml
  Java/Lección04/Sobreescritura/nbproject/project.properties
  Java/Lección04/Sobreescritura/nbproject/project.xml
  Java/Lección04/Sobreescritura/src/domain/Empleado.java
  Java/Lección04/Sobreescritura/src/domain/Gerente.java
  Java/Lección04/Sobreescritura/src/test/TestSobreescritura.java
Labels: Java

#46 Semana 4 - Python
  .idea/.gitignore
  .idea/Concatenados_3sem2024.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  Python/Leccion14/.idea/.gitignore
  Python/Leccion14/.idea/Leccion14.iml
  Python/Leccion14/.idea/inspectionProfiles/profiles_settings.xml
  Python/Leccion14/.idea/misc.xml
  Python/Leccion14/.idea/modules.xml
  Python/Leccion14/.idea/vcs.xml
  Python/Leccion14/mundo_pc/Computadora.py
  Python/Leccion14/mundo_pc/Dispositivo_entrada.py
  Python/Leccion14/mundo_pc/Monitor.py
  Python/Leccion14/mundo_pc/Orden.py
  Python/Leccion14/mundo_pc/Raton.py
  Python/Leccion14/mundo_pc/Teclado.py
  Python/Leccion14/mundo_pc/__init__.py
  Python/Leccion14/mundo_pc/__pycache__/Computadora.cpython-311.pyc
  Python/Leccion14/mundo_pc/__pycache__/Dispositivo_entrada.cpython-311.pyc
  Python/Leccion14/mundo_pc/__pycache__/Monitor.cpython-311.pyc
  Python/Leccion14/mundo_pc/__pycache__/Orden.cpython-311.pyc
  Python/Leccion14/mundo_pc/__pycache__/Raton.cpython-311.pyc
  Python/Leccion14/mundo_pc/__pycache__/Teclado.cpython-311.pyc
  Python/Leccion14/mundo_pc/__pycache__/__init__.cpython-311.pyc
  Python/Leccion14/mundo_pc/test_mundo_pc.py
Labels: Python

#48 Class 5 JavaScript
  JavaScript/TSLección04/01-04-objetos.js
Labels: JavaScript

#45 Java Clase 5
  Java/Lección05/ClaseObject/build.xml
  Java/Lección05/ClaseObject/build/classes/.netbeans_automatic_build
  Java/Lección05/ClaseObject/build/classes/.netbeans_update_resources
  Java/Lección05/ClaseObject/build/classes/domain/Empleado.class
  Java/Lección05/ClaseObject/build/classes/domain/Escritor.class
  Java/Lección05/ClaseObject/build/classes/domain/TipoEscritura.class
  Java/Lección05/ClaseObject/build/classes/test/testClaseObject.class
  Java/Lección05/ClaseObject/manifest.mf
  Java/Lección05/ClaseObject/nbproject/build-impl.xml
  Java/Lección05/ClaseObject/nbproject/genfiles.properties
  Java/Lección05/ClaseObject/nbproject/private/private.properties
  Java/Lección05/ClaseObject/nbproject/private/private.xml
  Java/Lección05/ClaseObject/nbproject/project.properties
  Java/Lección05/ClaseObject/nbproject/project.xml
  Java/Lección05/ClaseObject/src/domain/Empleado.java
  Java/Lección05/ClaseObject/src/domain/Escritor.java
  Java/Lección05/ClaseObject/src/domain/TipoEscritura.java
  Java/Lección05/ClaseObject/src/test/testClaseObject.java
  Java/Lección05/ClasesAbstractas/build.xml
  Java/Lección05/ClasesAbstractas/build/classes/.netbeans_automatic_build
  Java/Lección05/ClasesAbstractas/build/classes/.netbeans_update_resources
  Java/Lección05/ClasesAbstractas/build/classes/domain/FiguraGeometrica.class
  Java/Lección05/ClasesAbstractas/build/classes/domain/Rectangulo.class
  Java/Lección05/ClasesAbstractas/build/classes/test/TestAbstract.class
  Java/Lección05/ClasesAbstractas/manifest.mf
  Java/Lección05/ClasesAbstractas/nbproject/build-impl.xml
  Java/Lección05/ClasesAbstractas/nbproject/genfiles.properties
  Java/Lección05/ClasesAbstractas/nbproject/private/private.properties
  Java/Lección05/ClasesAbstractas/nbproject/private/private.xml
  Java/Lección05/ClasesAbstractas/nbproject/project.properties
  Java/Lección05/ClasesAbstractas/nbproject/project.xml
  Java/Lección05/ClasesAbstractas/src/domain/FiguraGeometrica.java
  Java/Lección05/ClasesAbstractas/src/domain/Rectangulo.java
  Java/Lección05/ClasesAbstractas/src/test/TestAbstract.java
  Java/Lección05/ConversionObjetos/build.xml
  Java/Lección05/ConversionObjetos/manifest.mf
  Java/Lección05/ConversionObjetos/nbproject/build-impl.xml
  Java/Lección05/ConversionObjetos/nbproject/genfiles.properties
  Java/Lección05/ConversionObjetos/nbproject/private/private.properties
  Java/Lección05/ConversionObjetos/nbproject/private/private.xml
  Java/Lección05/ConversionObjetos/nbproject/project.properties
  Java/Lección05/ConversionObjetos/nbproject/project.xml
  Java/Lección05/ConversionObjetos/src/domain/Empleado.java
  Java/Lección05/ConversionObjetos/src/domain/Escritor.java
  Java/Lección05/ConversionObjetos/src/domain/Gerente.java
  Java/Lección05/ConversionObjetos/src/domain/TipoEscritura.java
  Java/Lección05/ConversionObjetos/src/test/testConversionObjetos.java
Labels: Java

#43 Semana 5 Python
  Python/Excepciones/Lección01/.idea/.gitignore
  Python/Excepciones/Lección01/.idea/Lección01.iml
  Python/Excepciones/Lección01/.idea/inspectionProfiles/profiles_settings.xml
  Python/Excepciones/Lección01/.idea/misc.xml
  Python/Excepciones/Lección01/.idea/modules.xml
  Python/Excepciones/Lección01/.idea/vcs.xml
  Python/Excepciones/Lección01/NumerosIgualesException.py
  Python/Excepciones/Lección01/__pycache__/NumerosIgualesException.cpython-311.pyc
  Python/Excepciones/Lección01/manejo_excepciones.py
Labels: Python

#49 Semana 5 FINALIZADA
  README.md
Labels: Scrum Master

#51 Semana 5 FINALIZADA
  Java/Lección05/ClaseObject/build.xml
  Java/Lección05/ClaseObject/build/classes/.netbeans_automatic_build
  Java/Lección05/ClaseObject/build/classes/.netbeans_update_resources
  Java/Lección05/ClaseObject/build/classes/domain/Empleado.class
  Java/Lección05/ClaseObject/build/classes/domain/Escritor.class
  Java/Lección05/ClaseObject/build/classes/domain/TipoEscritura.class
  Java/Lección05/ClaseObject/build/classes/test/testClaseObject.class
  Java/Lección05/ClaseObject/manifest.mf
  Java/Lección05/ClaseObject/nbproject/build-impl.xml
  Java/Lección05/ClaseObject/nbproject/genfiles.properties
  Java/Lección05/ClaseObject/nbproject/private/private.properties
  Java/Lección05/ClaseObject/nbproject/private/private.xml
  Java/Lección05/ClaseObject/nbproject/project.properties
  Java/Lección05/ClaseObject/nbproject/project.xml
  Java/Lección05/ClaseObject/src/domain/Empleado.java
  Java/Lección05/ClaseObject/src/domain/Escritor.java
  Java/Lección05/ClaseObject/src/domain/TipoEscritura.java
  Java/Lección05/ClaseObject/src/test/testClaseObject.java
  Java/Lección05/ClasesAbstractas/build.xml
  Java/Lección05/ClasesAbstractas/build/classes/.netbeans_automatic_build
  Java/Lección05/ClasesAbstractas/build/classes/.netbeans_update_resources
  Java/Lección05/ClasesAbstractas/build/classes/domain/FiguraGeometrica.class
  Java/Lección05/ClasesAbstractas/build/classes/domain/Rectangulo.class
  Java/Lección05/ClasesAbstractas/build/classes/test/TestAbstract.class
  Java/Lección05/ClasesAbstractas/manifest.mf
  Java/Lección05/ClasesAbstractas/nbproject/build-impl.xml
  Java/Lección05/ClasesAbstractas/nbproject/genfiles.properties
  Java/Lección05/ClasesAbstractas/nbproject/private/private.properties
  Java/Lección05/ClasesAbstractas/nbproject/private/private.xml
  Java/Lección05/ClasesAbstractas/nbproject/project.properties
  Java/Lección05/ClasesAbstractas/nbproject/project.xml
  Java/Lección05/ClasesAbstractas/src/domain/FiguraGeometrica.java
  Java/Lección05/ClasesAbstractas/src/domain/Rectangulo.java
  Java/Lección05/ClasesAbstractas/src/test/TestAbstract.java
  Java/Lección05/ConversionObjetos/build.xml
  Java/Lección05/ConversionObjetos/manifest.mf
  Java/Lección05/ConversionObjetos/nbproject/build-impl.xml
  Java/Lección05/ConversionObjetos/nbproject/genfiles.properties
  Java/Lección05/ConversionObjetos/nbproject/private/private.properties
  Java/Lección05/ConversionObjetos/nbproject/private/private.xml
  Java/Lección05/ConversionObjetos/nbproject/project.properties
  Java/Lección05/ConversionObjetos/nbproject/project.xml
  Java/Lección05/ConversionObjetos/src/domain/Empleado.java
  Java/Lección05/ConversionObjetos/src/domain/Escritor.java
  Java/Lección05/ConversionObjetos/src/domain/Gerente.java
  Java/Lección05/ConversionObjetos/src/domain/TipoEscritura.java
  Java/Lección05/ConversionObjetos/src/test/testConversionObjetos.java
  JavaScript/TSLección04/01-04-objetos.js
  Python/Excepciones/Lección01/.idea/.gitignore
  Python/Excepciones/Lección01/.idea/Lección01.iml
  Python/Excepciones/Lección01/.idea/inspectionProfiles/profiles_settings.xml
  Python/Excepciones/Lección01/.idea/misc.xml
  Python/Excepciones/Lección01/.idea/modules.xml
  Python/Excepciones/Lección01/.idea/vcs.xml
  Python/Excepciones/Lección01/NumerosIgualesException.py
  Python/Excepciones/Lección01/__pycache__/NumerosIgualesException.cpython-311.pyc
  Python/Excepciones/Lección01/manejo_excepciones.py
  README.md
Labels: Scrum Master

#52 Semana 6 Python
  Python/Archivos/Leccion02/.idea/.gitignore
  Python/Archivos/Leccion02/.idea/.name
  Python/Archivos/Leccion02/.idea/Lección02.iml
  Python/Archivos/Leccion02/.idea/inspectionProfiles/profiles_settings.xml
  Python/Archivos/Leccion02/.idea/misc.xml
  Python/Archivos/Leccion02/.idea/modules.xml
  Python/Archivos/Leccion02/.idea/vcs.xml
  Python/Archivos/Leccion02/ManejoArchivos.py
  Python/Archivos/Leccion02/archivos_con_with.py
  Python/Archivos/Leccion02/copia.txt
  Python/Archivos/Leccion02/leer_archivo.py
  Python/Archivos/Leccion02/manejo_archivos.py
  Python/Archivos/Leccion02/prueba.txt
Labels: Python

#53 Semana 6 Java Script
  JavaScript/TSLección05/05-03-clases.js
  JavaScript/TSLección05/diagrama.uxf
Labels: JavaScript
