Repository CodeStrong2023/Concatenados_3sem2024, pull requests merged in 2024-04, with the labels that each got.

#5 Add Java file
  Java/Hola.txt
  Java/MundoPc.uxf
  Java/MundoPc/build.xml
  Java/MundoPc/build/classes/.netbeans_automatic_build
  Java/MundoPc/build/classes/.netbeans_update_resources
  Java/MundoPc/build/classes/ar/com/system2023/mundopc/Computadora.class
  Java/MundoPc/build/classes/ar/com/system2023/mundopc/DispositivoEntrada.class
  Java/MundoPc/build/classes/ar/com/system2023/mundopc/Monitor.class
  Java/MundoPc/build/classes/ar/com/system2023/mundopc/Orden.class
  Java/MundoPc/build/classes/ar/com/system2023/mundopc/Raton.class
  Java/MundoPc/build/classes/ar/com/system2023/mundopc/Teclado.class
  Java/MundoPc/build/classes/mundopc/mundoPc.class
  Java/MundoPc/manifest.mf
  Java/MundoPc/nbproject/build-impl.xml
  Java/MundoPc/nbproject/genfiles.properties
  Java/MundoPc/nbproject/private/private.properties
  Java/MundoPc/nbproject/private/private.xml
  Java/MundoPc/nbproject/project.properties
  Java/MundoPc/nbproject/project.xml
  Java/MundoPc/src/ar/com/system2023/mundopc/Computadora.java
  Java/MundoPc/src/ar/com/system2023/mundopc/DispositivoEntrada.java
  Java/MundoPc/src/ar/com/system2023/mundopc/Monitor.java
  Java/MundoPc/src/ar/com/system2023/mundopc/Orden.java
  Java/MundoPc/src/ar/com/system2023/mundopc/Raton.java
  Java/MundoPc/src/ar/com/system2023/mundopc/Teclado.java
  Java/MundoPc/src/mundopc/mundoPc.java
Labels: Java

#9 Python semana 2
  Python/Lección10/.idea/.gitignore
  Python/Lección10/.idea/Lección10.iml
  Python/Lección10/.idea/inspectionProfiles/profiles_settings.xml
  Python/Lección10/.idea/misc.xml
  Python/Lección10/.idea/modules.xml
  Python/Lección10/.idea/vcs.xml
  Python/Lección10/Constantes.py
  Python/Lección10/MiClase.py
  Python/Lección10/Persona.py
  Python/Lección10/__pycache__/Constantes.cpython-312.pyc
  Python/Lección10/testConstantes.py
  Python/Lección10/variablesDeClase.uxf
  Python/Lección11/disenio_clase.uxf
Labels: Python

#18 Test - Semana 1
  Java/Clase2-Java/ArgumentosVariables/build/built-jar.properties
  Java/Clase2-Java/ArgumentosVariables/build/classes/test/TestArgumentosVariables.class
  Java/Clase2-Java/ArgumentosVariables/nbproject/private/private.properties
  Java/Clase2-Java/ArgumentosVariables/nbproject/private/private.xml
  Java/Clase2-Java/BloquesInicializacion/build/built-jar.properties
  Java/Clase2-Java/BloquesInicializacion/build/classes/domain/Persona.class
  Java/Clase2-Java/BloquesInicializacion/build/classes/test/TestBloqueInicializacion.class
  Java/Clase2-Java/BloquesInicializacion/nbproject/private/private.properties
  Java/Clase2-Java/BloquesInicializacion/nbproject/private/private.xml
  Java/Clase2-Java/Enumeraciones/build/built-jar.properties
  Java/Clase2-Java/Enumeraciones/build/classes/enumeraciones/Continentes.class
  Java/Clase2-Java/Enumeraciones/build/classes/enumeraciones/Dias.class
  Java/Clase2-Java/Enumeraciones/build/classes/test/TestEnumeraciones$1.class
  Java/Clase2-Java/Enumeraciones/build/classes/test/TestEnumeraciones.class
  Java/Clase2-Java/Enumeraciones/nbproject/private/private.properties
  Java/Clase2-Java/Enumeraciones/nbproject/private/private.xml
  Java/Hola.txt
  Java/MundoPc.uxf
  Java/MundoPc/build.xml
  Java/MundoPc/build/classes/.netbeans_automatic_build
  Java/MundoPc/build/classes/.netbeans_update_resources
  Java/MundoPc/build/classes/ar/com/system2023/mundopc/Computadora.class
  Java/MundoPc/build/classes/ar/com/system2023/mundopc/DispositivoEntrada.class
  Java/MundoPc/build/classes/ar/com/system2023/mundopc/Monitor.class
  Java/MundoPc/build/classes/ar/com/system2023/mundopc/Orden.class
  Java/MundoPc/build/classes/ar/com/system2023/mundopc/Raton.class
  Java/MundoPc/build/classes/ar/com/system2023/mundopc/Teclado.class
  Java/MundoPc/build/classes/mundopc/mundoPc.class
  Java/MundoPc/manifest.mf
  Java/MundoPc/nbproject/build-impl.xml
  Java/MundoPc/nbproject/genfiles.properties
  Java/MundoPc/nbproject/private/private.properties
  Java/MundoPc/nbproject/private/private.xml
  Java/MundoPc/nbproject/project.properties
  Java/MundoPc/nbproject/project.xml
  Java/MundoPc/src/ar/com/system2023/mundopc/Computadora.java
  Java/MundoPc/src/ar/com/system2023/mundopc/DispositivoEntrada.java
  Java/MundoPc/src/ar/com/system2023/mundopc/Monitor.java
  Java/MundoPc/src/ar/com/system2023/mundopc/Orden.java
  Java/MundoPc/src/ar/com/system2023/mundopc/Raton.java
  Java/MundoPc/src/ar/com/system2023/mundopc/Teclado.java
  Java/MundoPc/src/mundopc/mundoPc.java
  JavaScript/TSLección01/01-03-ciclos.js
  Python/Lección10/.idea/.gitignore
  Python/Lección10/.idea/Lección10.iml
  Python/Lección10/.idea/inspectionProfiles/profiles_settings.xml
  Python/Lección10/.idea/misc.xml
  Python/Lección10/.idea/modules.xml
  Python/Lección10/.idea/vcs.xml
  Python/Lección10/Constantes.py
  Python/Lección10/MiClase.py
  Python/Lección10/Persona.py
  Python/Lección10/__pycache__/Constantes.cpython-312.pyc
  Python/Lección10/testConstantes.py
  Python/Lección10/variablesDeClase.uxf
  Python/Lección11/disenio_clase.uxf
Labels: Scrum Master
