Repository CodeStrong2023/Concatenados_3sem2024, pull requests merged in 2024-06, with the labels that each got.

#60 Clase 7 JavaScript
  JavaScript/Lección05/05-03-clases.js
  JavaScript/Lección05/diagrama.uxf
  JavaScript/Lección05/index.html
Labels: JavaScript

#61 Clase 7 - Python
  Java/Lección06/Lección06 - Docker
  Python/.idea/.gitignore
  Python/.idea/Python.iml
  Python/.idea/inspectionProfiles/profiles_settings.xml
  Python/.idea/misc.xml
  Python/.idea/modules.xml
  Python/.idea/vcs.xml
  Python/2.0 Archivos/Leccion02/.idea/.gitignore
  Python/2.0 Archivos/Leccion02/.idea/.name
  Python/2.0 Archivos/Leccion02/.idea/Lección02.iml
  Python/2.0 Archivos/Leccion02/.idea/inspectionProfiles/profiles_settings.xml
  Python/2.0 Archivos/Leccion02/.idea/misc.xml
  Python/2.0 Archivos/Leccion02/.idea/modules.xml
  Python/2.0 Archivos/Leccion02/.idea/vcs.xml
  Python/2.0 Archivos/Leccion02/ManejoArchivos.py
  Python/2.0 Archivos/Leccion02/__pycache__/ManejoArchivos.cpython-311.pyc
  Python/2.0 Archivos/Leccion02/archivos_con_with.py
  Python/2.0 Archivos/Leccion02/copia.txt
  Python/2.0 Archivos/Leccion02/leer_archivo.py
  Python/2.0 Archivos/Leccion02/manejo_archivos.py
  Python/2.0 Archivos/Leccion02/prueba.txt
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/.idea/.gitignore
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/.idea/catalogo_peliculas.iml
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/.idea/inspectionProfiles/profiles_settings.xml
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/.idea/misc.xml
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/.idea/modules.xml
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/.idea/vcs.xml
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/dominio/Pelicula.py
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/dominio/__init__.py
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/dominio/__pycache__/Pelicula.cpython-311.pyc
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/dominio/__pycache__/__init__.cpython-311.pyc
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/películas.txt
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/servicio/__init__.py
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/servicio/__pycache__/__init__.cpython-311.pyc
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/servicio/__pycache__/catalogo_películas.cpython-311.pyc
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/servicio/catalogo_películas.py
  Python/3.0 Proyecto (peliculas)/Lección03/catalogo_peliculas/test_catalogo_películas.py
Labels: Python

#63 Semana 8 Java
  Java/Lección07/JavaBeans/build.xml
  Java/Lección07/JavaBeans/build/classes/.netbeans_automatic_build
  Java/Lección07/JavaBeans/build/classes/.netbeans_update_resources
  Java/Lección07/JavaBeans/build/classes/domain/Persona.class
  Java/Lección07/JavaBeans/build/classes/test/TestJavaBeans.class
  Java/Lección07/JavaBeans/manifest.mf
  Java/Lección07/JavaBeans/nbproject/build-impl.xml
  Java/Lección07/JavaBeans/nbproject/genfiles.properties
  Java/Lección07/JavaBeans/nbproject/private/private.properties
  Java/Lección07/JavaBeans/nbproject/private/private.xml
  Java/Lección07/JavaBeans/nbproject/project.properties
  Java/Lección07/JavaBeans/nbproject/project.xml
  Java/Lección07/JavaBeans/src/domain/Persona.java
  Java/Lección07/JavaBeans/src/test/TestJavaBeans.java
  Java/Lección08/ManejoExcepciones1/build.xml
  Java/Lección08/ManejoExcepciones1/build/classes/.netbeans_automatic_build
  Java/Lección08/ManejoExcepciones1/build/classes/.netbeans_update_resources
  Java/Lección08/ManejoExcepciones1/build/classes/aritmetica/Aritmetica.class
  Java/Lección08/ManejoExcepciones1/build/classes/excepciones/OperacionExcepcion.class
  Java/Lección08/ManejoExcepciones1/build/classes/test/TestExcepciones.class
  Java/Lección08/ManejoExcepciones1/manifest.mf
  Java/Lección08/ManejoExcepciones1/nbproject/build-impl.xml
  Java/Lección08/ManejoExcepciones1/nbproject/genfiles.properties
  Java/Lección08/ManejoExcepciones1/nbproject/private/private.properties
  Java/Lección08/ManejoExcepciones1/nbproject/private/private.xml
  Java/Lección08/ManejoExcepciones1/nbproject/project.properties
  Java/Lección08/ManejoExcepciones1/nbproject/project.xml
  Java/Lección08/ManejoExcepciones1/src/aritmetica/Aritmetica.java
  Java/Lección08/ManejoExcepciones1/src/excepciones/OperacionExcepcion.java
  Java/Lección08/ManejoExcepciones1/src/test/TestExcepciones.java
Labels: Java

#66 Clase 8 - JavaScript
  JavaScript/.vscode/launch.json
  JavaScript/.vscode/settings.json
  JavaScript/Lección05/05-03-clases.js
  JavaScript/TSLección02/02-03-arreglos.js
  JavaScript/TSLección03/01-03-funciones.js
  JavaScript/TSLección06-07-08/05-03-clases.js
  JavaScript/TSLección06-07-08/diagrama.uxf
  JavaScript/TSLección06-07-08/index.html
Labels: JavaScript

#71 Merge a main desde test
  Java/Lección07/JavaBeans/build.xml
  Java/Lección07/JavaBeans/build/classes/.netbeans_automatic_build
  Java/Lección07/JavaBeans/build/classes/.netbeans_update_resources
  Java/Lección07/JavaBeans/build/classes/domain/Persona.class
  Java/Lección07/JavaBeans/build/classes/test/TestJavaBeans.class
  Java/Lección07/JavaBeans/manifest.mf
  Java/Lección07/JavaBeans/nbproject/build-impl.xml
  Java/Lección07/JavaBeans/nbproject/genfiles.properties
  Java/Lección07/JavaBeans/nbproject/private/private.properties
  Java/Lección07/JavaBeans/nbproject/private/private.xml
  Java/Lección07/JavaBeans/nbproject/project.properties
  Java/Lección07/JavaBeans/nbproject/project.xml
  Java/Lección07/JavaBeans/src/domain/Persona.java
  Java/Lección07/JavaBeans/src/test/TestJavaBeans.java
  Java/Lección08/ManejoExcepciones1/build.xml
  Java/Lección08/ManejoExcepciones1/build/classes/.netbeans_automatic_build
  Java/Lección08/ManejoExcepciones1/build/classes/.netbeans_update_resources
  Java/Lección08/ManejoExcepciones1/build/classes/aritmetica/Aritmetica.class
  Java/Lección08/ManejoExcepciones1/build/classes/excepciones/OperacionExcepcion.class
  Java/Lección08/ManejoExcepciones1/build/classes/test/TestExcepciones.class
  Java/Lección08/ManejoExcepciones1/manifest.mf
  Java/Lección08/ManejoExcepciones1/nbproject/build-impl.xml
  Java/Lección08/ManejoExcepciones1/nbproject/genfiles.properties
  Java/Lección08/ManejoExcepciones1/nbproject/private/private.properties
  Java/Lección08/ManejoExcepciones1/nbproject/private/private.xml
  Java/Lección08/ManejoExcepciones1/nbproject/project.properties
  Java/Lección08/ManejoExcepciones1/nbproject/project.xml
  Java/Lección08/ManejoExcepciones1/src/aritmetica/Aritmetica.java
  Java/Lección08/ManejoExcepciones1/src/excepciones/OperacionExcepcion.java
  Java/Lección08/ManejoExcepciones1/src/test/TestExcepciones.java
  JavaScript/.vscode/launch.json
  JavaScript/.vscode/settings.json
  JavaScript/Lección05/05-03-clases.js
  JavaScript/TSLección06-07-08/05-03-clases.js
  JavaScript/TSLección06-07-08/diagrama.uxf
  JavaScript/TSLección06-07-08/index.html
  Python/Leccion04/BD/.idea/.gitignore
  Python/Leccion04/BD/.idea/inspectionProfiles/profiles_settings.xml
  Python/Leccion04/BD/.idea/misc.xml
  Python/Leccion04/BD/.idea/modules.xml
  Python/Leccion04/BD/.idea/pythonProject.iml
  Python/Leccion04/BD/.idea/vcs.xml
  Python/Leccion04/BD/prueba_bd.py
  Python/Leccion04/test_bd.sql
Labels: Scrum Master

#72 Semana 9 Java
  Java/Lección09/CalculadoraUTN/.gitignore
  Java/Lección09/CalculadoraUTN/.idea/.gitignore
  Java/Lección09/CalculadoraUTN/.idea/misc.xml
  Java/Lección09/CalculadoraUTN/.idea/modules.xml
  Java/Lección09/CalculadoraUTN/.idea/vcs.xml
  Java/Lección09/CalculadoraUTN/CalculadoraUTN.iml
  Java/Lección09/CalculadoraUTN/src/CalculadoraUTN.java
Labels: Java

#78 Semana 10 JavaScript
  JavaScript/TSLección10/SistemaVentas.js
Labels: JavaScript

#79 Clase 10 Python
  Python/Lección07/.idea/.gitignore
  Python/Lección07/.idea/Lección07.iml
  Python/Lección07/.idea/inspectionProfiles/Project_Default.xml
  Python/Lección07/.idea/inspectionProfiles/profiles_settings.xml
  Python/Lección07/.idea/misc.xml
  Python/Lección07/.idea/modules.xml
  Python/Lección07/.idea/vcs.xml
  Python/Lección07/acceso_datos.uxf
  Python/Lección07/capa_dato_personas/.idea/.gitignore
  Python/Lección07/capa_dato_personas/.idea/capa_dato_personas.iml
  Python/Lección07/capa_dato_personas/.idea/inspectionProfiles/profiles_settings.xml
  Python/Lección07/capa_dato_personas/.idea/misc.xml
  Python/Lección07/capa_dato_personas/.idea/modules.xml
  Python/Lección07/capa_dato_personas/.idea/vcs.xml
  Python/Lección07/capa_dato_personas/Persona.py
  Python/Lección07/capa_dato_personas/__pycache__/logger_base.cpython-312.pyc
  Python/Lección07/capa_dato_personas/capa_datos.log
  Python/Lección07/capa_dato_personas/conexion.py
  Python/Lección07/capa_dato_personas/logger_base.py
  Python/Lección07/capa_dato_personas/persona_dao.py
Labels: Python

#80 Class 9 JavaScript
  JavaScript/TSLección07/Cliente.js
  JavaScript/TSLección07/Empleado.js
  JavaScript/TSLección07/Persona.js
  JavaScript/TSLección07/PruebaPersonas.js
Labels: JavaScript
